.navbar {
    position: relative;
    margin-top: 10px;

    @include for-size(mobile) {
        justify-content: space-between;
    }

    .fa-bars {
        display: none;

        @include for-size(mobile) {
            display: initial;
            padding-left: 20px;
        }
    }

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;

    .navbar-left {
        display: flex;
        align-items: center;
        column-gap: 30px;
        padding-left: 15px;
        font-family: "Work Sans";

        >a {
            text-decoration: none;
            color: black;
        }

        ul {
            display: none;
        }

        @include for-size(tablet) {

            >p {
                padding-right: 20px;

                @include for-size(mobile) {
                    display: none;
                }
            }
        }
    }

    .navbar-middle {
        display: flex;
        align-items: center;
        width: 700px;
        height: 50px;
        border: 1px solid black;
        border-radius: 30px;
        gap: 20px;
        font-family: "Work Sans";

        @include for-size(mobile) {
            display: none;
        }

        >i {
            padding-left: 20px;
        }
    }

    .navbar-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-right: 30px;
        font-family: "Work Sans";

        >a {
            text-decoration: none;
            color: black;
        }

        @include for-size(tablet) {

            a {
                padding-left: 20px;
            }
        }

        @include for-size(mobile) {

            a {
                display: none;
            }
        }

        .fa-magnifying-glass {
            display: none;

            @include for-size(mobile) {
                display: initial;
            }
        }

        @include for-size(tablet) {

            >p {
                padding-left: 40px;
            }
        }

        @include for-size(mobile) {
            
            >p {
                display: none;
            }
        }

        .login {
            width: 80px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;

            @include for-size(mobile) {
                display: none;
            }

            >a {
                text-decoration: none;
                color: black;
            }
        }

        .signup {
            width: 80px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            background-color: rgba(0, 0, 0, 0.572);

            @include for-size(mobile) {
                display: none;
            }

            >a {
                text-decoration: none;
                color: white;
            }
        }
    }
}