.navbar {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
@media screen and (max-width: 835px) {
  .navbar {
    justify-content: space-between;
  }
}
.navbar .fa-bars {
  display: none;
}
@media screen and (max-width: 835px) {
  .navbar .fa-bars {
    display: initial;
    padding-left: 20px;
  }
}
.navbar .navbar-left {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-left: 15px;
}
.navbar .navbar-left ul {
  display: none;
}
@media screen and (max-width: 1250px) {
  .navbar .navbar-left > p {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1250px) and (max-width: 835px) {
  .navbar .navbar-left > p {
    display: none;
  }
}
.navbar .navbar-middle {
  display: flex;
  align-items: center;
  width: 700px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  gap: 20px;
}
@media screen and (max-width: 835px) {
  .navbar .navbar-middle {
    display: none;
  }
}
.navbar .navbar-middle > i {
  padding-left: 20px;
}
.navbar .navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}
.navbar .navbar-right .fa-magnifying-glass {
  display: none;
}
@media screen and (max-width: 835px) {
  .navbar .navbar-right .fa-magnifying-glass {
    display: initial;
  }
}
@media screen and (max-width: 1250px) {
  .navbar .navbar-right > p {
    padding-left: 40px;
  }
}
@media screen and (max-width: 835px) {
  .navbar .navbar-right > p {
    display: none;
  }
}
.navbar .navbar-right .login {
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
@media screen and (max-width: 835px) {
  .navbar .navbar-right .login {
    display: none;
  }
}
.navbar .navbar-right .signup {
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.825);
}
@media screen and (max-width: 835px) {
  .navbar .navbar-right .signup {
    display: none;
  }
}
.navbar .navbar-right .signup > p {
  color: white;
}
.navbar .navbar-right .world {
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.825);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .slider {
  width: 1250px;
  margin: auto;
  height: 500px;
  overflow: hidden;
}
@media screen and (max-width: 1250px) {
  body .slider {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .slider {
    width: 690px;
  }
}
@media screen and (max-width: 1250px) {
  body .slider {
    width: 100%;
  }
}
body .slider .container {
  display: flex;
  animation: carusel-swipe 20s infinite;
  margin-top: 40px;
}
@keyframes carusel-swipe {
  25% {
    transform: translateX(-1500px);
  }
  50% {
    transform: translateX(-2840px);
  }
  75% {
    transform: translateX(-4200px);
  }
}
body .supporter {
  height: 250px;
  background-color: rgba(128, 128, 128, 0.055);
}
@media screen and (max-width: 1250px) {
  body .supporter {
    height: 350px;
  }
}
body .supporter .top {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
body .supporter .down {
  display: flex;
  justify-content: center;
  gap: 80px;
}
@media screen and (max-width: 1250px) {
  body .supporter .down {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 50px;
    padding-left: 150px;
  }
}
@media screen and (max-width: 835px) {
  body .supporter .down {
    padding-left: 100px;
  }
}
body .supporter .down > img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1250px) {
  body .supporter .down > img {
    width: 100px;
    height: 100px;
  }
}
body .main {
  width: 1250px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1250px) {
  body .main {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .main {
    width: 690px;
  }
}
body .main > p {
  padding-top: 20px;
  padding-bottom: 30px;
}
body .main .courses-name {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
body .main .courses-table {
  height: 550px;
  width: 1270px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  padding: 30px;
}
@media screen and (max-width: 1250px) {
  body .main .courses-table {
    width: 850px;
  }
}
@media screen and (max-width: 835px) {
  body .main .courses-table {
    width: 700px;
  }
}
body .main .courses-table > h2 {
  padding-bottom: 15px;
}
body .main .courses-table .button {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
body .main .courses-table .courses {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
body .main .courses-table .courses .courses-card .top {
  padding-top: 20px;
}
body .main .courses-table .courses .courses-card .top > img {
  width: 230px;
  height: 150px;
}
@media screen and (max-width: 1250px) {
  body .main .courses-table .courses .courses-card .top > img {
    width: 255px;
  }
}
@media screen and (max-width: 835px) {
  body .main .courses-table .courses .courses-card .top > img {
    width: 205px;
  }
}
body .main .courses-table .courses .courses-card .bottom {
  padding-top: 10px;
}
body .main .courses-table .courses .courses-card .bottom > p {
  padding-top: 5px;
}
body .main .courses-table .courses .courses-card .bottom .rating {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
body .main .courses-table .courses .courses-card .bottom .rating .star {
  display: flex;
  gap: 0;
}
body .main .courses-table .courses .courses-card .bottom .price {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 1250px) {
  body .main .courses-table .courses #forth {
    display: none;
  }
  body .main .courses-table .courses #fifth {
    display: none;
  }
}
body .comment {
  width: 100%;
  height: 480px;
  background-color: rgba(128, 128, 128, 0.055);
}
body .comment > h2 {
  padding-top: 60px;
  padding-left: 90px;
}
body .comment .card-container {
  width: 1250px;
  margin: auto;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1250px) {
  body .comment .card-container {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .comment .card-container {
    width: 690px;
  }
}
@media screen and (max-width: 1250px) {
  body .comment .card-container .tree {
    display: none;
  }
}
body .comment .card-container .comment-card {
  width: 400px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  margin-top: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 835px) {
  body .comment .card-container .comment-card {
    width: 330px;
  }
}
body .comment .card-container .comment-card > i {
  padding-top: 20px;
}
body .comment .card-container .comment-card > p {
  padding-top: 20px;
}
body .comment .card-container .comment-card .card-middle {
  display: flex;
  gap: 10px;
}
body .comment .card-container .comment-card .card-middle .circle {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.825);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .comment .card-container .comment-card .card-middle .circle > h4 {
  color: white;
}
body .comment .card-container .comment-card .card-middle > h4 {
  padding-top: 10px;
}
body .comment .card-container .comment-card .solid {
  width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
@media screen and (max-width: 835px) {
  body .comment .card-container .comment-card .solid {
    width: 250px;
  }
}
body .comment .card-container .comment-card .card-bottom {
  display: flex;
  gap: 10px;
}
body .comment .card-container .comment-card .card-bottom > .circle {
  width: 30px;
  height: 30px;
  background-color: #5624d0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .comment .card-container .comment-card .card-bottom > .circle > i {
  color: white;
  width: 10px;
}
body .comment .card-container .comment-card .card-bottom > h4 {
  color: #5624d0;
}
body .comment .card-container .one .card-middle {
  padding-top: 20px;
}
body .comment .card-container .two .card-middle {
  padding-bottom: -20px;
}
body .comment .card-container .tree .card-middle {
  padding-bottom: -20px;
}
body .viewing {
  width: 1250px;
  margin: auto;
  margin-top: 40px;
}
@media screen and (max-width: 1250px) {
  body .viewing {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .viewing {
    width: 690px;
  }
}
body .viewing .card-container {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
}
@media screen and (max-width: 1250px) {
  body .viewing .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 835px) {
  body .viewing .card-container {
    gap: 10px;
  }
}
body .viewing .card-container .courses-card .top {
  padding-top: 20px;
}
body .viewing .card-container .courses-card .top > img {
  width: 230px;
  height: 150px;
}
body .viewing .card-container .courses-card .bottom {
  padding-top: 10px;
}
body .viewing .card-container .courses-card .bottom > p {
  padding-top: 5px;
}
body .viewing .card-container .courses-card .bottom .rating {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
body .viewing .card-container .courses-card .bottom .rating .star {
  display: flex;
  gap: 0;
}
body .viewing .card-container .courses-card .bottom .price {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 1250px) {
  body .viewing .card-container > #forth {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  body .viewing .card-container > #fifth {
    display: none;
  }
}
body .viewing .second {
  margin-top: 40px;
}
@media screen and (max-width: 1250px) {
  body .viewing .second > #forth {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  body .viewing .second > #fifth {
    display: none;
  }
}
body .category {
  width: 1250px;
  margin: auto;
  margin-top: 80px;
}
@media screen and (max-width: 1250px) {
  body .category {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .category {
    width: 690px;
  }
}
body .category .category-container {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1250px) {
  body .category .category-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
body .category .category-container .ctgr .top-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgba(128, 128, 128, 0.055);
  margin-top: 30px;
}
@media screen and (max-width: 1250px) {
  body .category .category-container .ctgr .top-categories {
    width: 400px;
  }
}
@media screen and (max-width: 835px) {
  body .category .category-container .ctgr .top-categories {
    width: 340px;
  }
}
body .category .category-container .ctgr .top-categories > img {
  width: 250px;
  height: 250px;
}
body .category .category-container .ctgr .category-name {
  padding-top: 20px;
}
body .topic {
  width: 100%;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.055);
  margin-top: 80px;
  padding-top: 60px;
}
body .topic > h2 {
  padding-left: 90px;
}
body .topic .category-topic {
  width: 1250px;
  margin: auto;
  display: flex;
  gap: 200px;
  padding-top: 30px;
}
@media screen and (max-width: 1250px) {
  body .topic .category-topic {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .topic .category-topic {
    width: 690px;
  }
}
@media screen and (max-width: 1250px) {
  body .topic .category-topic {
    gap: 80px;
  }
}
@media screen and (max-width: 835px) {
  body .topic .category-topic {
    gap: 50px;
  }
}
body .topic .category-topic .category-topic-name {
  display: table-row;
}
body .topic .category-topic .category-topic-name .first {
  line-height: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
body .topic .category-topic .category-topic-name .first > h3 {
  color: #5624d0;
  text-decoration: underline;
}
body .topic .category-topic .category-topic-name .second {
  line-height: 30px;
  margin-bottom: 40px;
}
body .topic .category-topic .category-topic-name .second > h3 {
  color: #5624d0;
  text-decoration: underline;
}
body .topic .category-topic .category-topic-name .third {
  line-height: 30px;
}
body .topic .category-topic .category-topic-name .third > h3 {
  color: #5624d0;
  text-decoration: underline;
}
body .learn {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .learn .left > img {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 835px) {
  body .learn .left > img {
    width: 300px;
    height: 300px;
  }
}
body .learn .right {
  padding-top: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .title {
  width: 1250px;
  margin: auto;
  line-height: 40px;
}
@media screen and (max-width: 1250px) {
  body .title {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .title {
    width: 690px;
  }
}
body .title h1 {
  padding-top: 60px;
}
body .title .learners {
  display: flex;
  gap: 10px;
}
body .title .learners > .fa-user {
  padding-top: 10px;
}
body .title h2 {
  padding-top: 40px;
}
body .card-container {
  width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 20px;
}
@media screen and (max-width: 1250px) {
  body .card-container {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .card-container {
    width: 690px;
  }
}
body .card-container .courses-card .top {
  padding-top: 20px;
}
body .card-container .courses-card .top > img {
  width: 230px;
  height: 150px;
}
body .card-container .courses-card .bottom {
  padding-top: 10px;
}
body .card-container .courses-card .bottom > p {
  padding-top: 5px;
}
body .card-container .courses-card .bottom .rating {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
body .card-container .courses-card .bottom .rating .star {
  display: flex;
  gap: 0;
}
body .card-container .courses-card .bottom .price {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
body .second {
  padding-top: 20px;
}
body .all-courses {
  width: 1250px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1250px) {
  body .all-courses {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .all-courses {
    width: 690px;
  }
}
body .all-courses p {
  padding-top: 20px;
}
body .all-courses .small-table {
  display: flex;
  gap: 20px;
  width: 1250px;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 20px;
  padding-top: 18px;
  padding-left: 20px;
  margin-bottom: 40px;
}
body .all-courses .small-table > h3 {
  padding-top: 5px;
}
body .all-courses .small-table .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.825);
  border-radius: 50%;
}
body .all-courses .small-table .circle > i {
  color: white;
}
body .all-courses > .card-container {
  display: table-row;
  padding-top: 20px;
}
body .all-courses > .card-container > .courses-card {
  display: flex;
  gap: 20px;
  width: 1250px;
}
body .all-courses > .card-container > .courses-card > .top img {
  width: 400px;
  height: 200px;
}
body .all-courses > .card-container > .courses-card > .bottom {
  padding-top: 20px;
  line-height: 20px;
}
body .all-courses > .card-container > .courses-card > .bottom > .rating h4 {
  padding-top: 7px;
}
body .all-courses > .card-container > .courses-card > .bottom > .rating p {
  padding-top: 5px;
}
body .all-courses > .card-container > .courses-card > .bottom > .rating .star {
  padding-top: 8px;
}
body .all-courses > .card-container > .courses-card > .bottom .mini-info {
  display: flex;
  gap: 10px;
}
body .all-courses > .card-container > .courses-card > .price {
  padding-top: 45px;
  padding-left: 20px;
}
body .all-courses > .card-container .seven .price {
  padding-left: 50px;
}
body .all-courses > .card-container .eight .price {
  padding-left: 80px;
}
body .all-courses > .card-container .fifteen .price {
  padding-left: 60px;
}
body .all-courses > .card-container .card .price {
  padding-left: 70px;
}
body .all-courses > .card-container .cart .price {
  padding-left: 250px;
}
body .all-courses > .card-container .six-card .price {
  padding-left: 110px;
}
body .all-courses > .card-container .eight-card .price {
  padding-left: 350px;
}
body .all-courses > .card-container .ten-card .price {
  padding-left: 150px;
}
body .all-courses > .card-container .fourteen-card .price {
  padding-left: 270px;
}
body .all-courses > .card-container .fifteen-card .price {
  padding-left: 130px;
}
body .all-courses > .card-container .nine-card .price {
  padding-left: 50px;
}
body .all-courses > .card-container .ten-cart .price {
  padding-left: 50px;
}
body .all-courses > .card-container .thirteen-card .price {
  padding-left: 180px;
}
body .all-courses > .card-container .three-card .price {
  padding-left: 70px;
}
body .all-courses > .card-container .six-cart .price {
  padding-left: 90px;
}
body .all-courses > .card-container .seven-cart .price {
  padding-left: 80px;
}
body .all-courses > .card-container .eight-cart .price {
  padding-left: 70px;
}
body .all-courses > .card-container .twelve-card .price {
  padding-left: 400px;
}
body .all-courses > .card-container .thirteen-cart .price {
  padding-left: 290px;
}
body .all-courses > .card-container .card-ten .price {
  padding-left: 150px;
}
body .all-courses > .card-container .card-twelve .price {
  padding-left: 210px;
}
body .all-courses > .card-container .card-thirteen .price {
  padding-left: 250px;
}
body .all-courses > .card-container .card-fifteen .price {
  padding-left: 50px;
}
body .all-courses .solid {
  width: 1260px;
  border: 1px solid rgba(0, 0, 0, 0.226);
  margin-top: 15px;
}
body .solid {
  width: 1250px;
  margin: auto;
  width: 1260px;
  border: 1px solid rgba(0, 0, 0, 0.209);
  margin-bottom: 40px;
}
@media screen and (max-width: 1250px) {
  body .solid {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .solid {
    width: 690px;
  }
}
body .info {
  width: 1250px;
  margin: auto;
  width: 650px;
  height: 500px;
  padding-left: 20px;
}
@media screen and (max-width: 1250px) {
  body .info {
    width: 835px;
  }
}
@media screen and (max-width: 835px) {
  body .info {
    width: 690px;
  }
}
body .info > p {
  padding-top: 20px;
}
body .info > h2 {
  padding-top: 50px;
}
body .info > .solid {
  width: 620px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  margin-top: 20px;
  margin-right: 50px;
}